.DS_Store
Thumbs.db

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

.plastic/
.ignore
*.plastic*

*.apk
*.aab
*.zip
*.unitypackage

.idea/
.vs/
*.swp
*.bak
*.tmp
*.orig

Build*/     
